<div class="container">
    <h1>Libros</h1>

    <table class="table" style="margin-bottom: 30px;">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Título</th>
                <th scope="col">ISBN</th>
                <th scope="col">Autores</th>
                <th scope="col">Editar</th>
                <th scope="col">Eliminar</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let libro of libros">
                <th>{{ libro.idLibro }}</th>
                <td>{{ libro.nombre }}</td>
                <td>{{ libro.isbn }}</td>
                <td>{{ libro.autores }}</td>
                <td>
                    <a (click)="verLibroClick(libro.idLibro)"><i class="fa fa-edit"></i></a>
                </td>
                <td>
                    <a (click)="eliminarLibro(libro.idLibro)"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
        </tbody>
    </table>
    <!-- <a class="btn btn-primary" style="color: white;" (click)="getTestData()">Test</a> -->
    <a class="btn btn-primary" [routerLink]="['/biblioteca/libro-add']" routerLinkActive="router-link-active">Agregar</a>
    <hr>
    <div [hidden]="!verLibro">
        <h2>Ver Libro</h2>
        <div class="row">
            <div class="col-lg-12">
                <form (ngSubmit)="actualizarLibro(selectedLibro.idLibro)" style="margin-bottom: 10px">
                    <div class="form-group">
                        <label for="titulo">Título</label>
                        <input name="titulo" type="text" class="form-control" id="titulo" [(ngModel)]="selectedLibro.nombre" placeholder="Título Libro">
                    </div>
                    <div class="form-group">
                        <label for="isbn ">ISBN</label>
                        <input class="form-control" name="isbn" type="text" id="isbn" [(ngModel)]="selectedLibro.isbn" placeholder="Código ISBN">
                    </div>
                    <div class="form-group">
                        <label for="autores">Autores</label>
                        <input class="form-control" name="autores" type="text" id="autores" [(ngModel)]="selectedLibro.autores " placeholder="Autores">
                        <small id="autoresAyuda " class="form-text text-muted ">Separa cada autor en cómas</small>
                    </div>
                    <button type="submit " class="btn btn-primary ">Enviar</button>
                </form>
                <a class="btn btn-primary" style="color: white;" (click)="hideDescription()">Ocultar</a>
            </div>
        </div>
    </div>
</div>