<div>
  <h1>Añadir libro</h1>
  <hr>
  <form (ngSubmit)= "agregarLibro()">
    <label for="titulo">Título:</label>
    <input type="text" id="titulo" name="titulo" [(ngModel)]="libro.nombre">
    <br>
    <label for="isbn">ISBN:</label>
    <input type="text" id="isbn" name="isbn" [(ngModel)]="libro.ISBN">
    <br>
    <label for="autores">Autores:</label>
    <input type="text" id="autores" name="autores" [(ngModel)]="libro.autores">
    <br>
    <button type="submit">Enviar</button>
    <hr>
    <a [routerLink]="['/biblioteca/libro-list']" routerLinkActive="router-link-active">Regresar</a>
    
  </form>
</div>
