<!DOCTYPE hibernate-configuration PUBLIC
       "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
       "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>
		<property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>



		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/biblioteca</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">web</property>
		
		<!-- JDBC connection pool -->
		<property name="hibernate.c3p0.min_size">5</property>
		<property name="hibernate.c3p0.max_size">10</property>
		<property name="hibernate.c3p0.timeout">3000</property>
		<property name="hibernate.c3p0.max_statements">50</property>
		<property name="hibernate.c3p0.idle_test_period">2500</property>
		<property name="hibernate.c3p0.privilegeSpawnedThreads">true</property>
		<property name="hibernate.c3p0.contextClassLoaderSource">library</property>

		<!-- SQL dialect -->
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>

		<!-- Hibernate cache -->
		<property name="hibernate.cache.use_second_level_cache">true</property>
		<property name="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</property>
		<!-- Echo all executed SQL to stdout -->
		<property name="show_sql">true</property>

		<!-- Drop and re-create the database schema on startup -->
		<property name="hbm2ddl.auto">create</property>

		<!-- Avoid lazy loading exception -->
		<property name="hibernate.enable_lazy_load_no_trans">true</property>

		<property name="hibernate.hbm2ddl.import_files">import.sql</property>
		<property name="hibernate.hbm2ddl.import_files_sql_extractor">org.hibernate.tool.hbm2ddl.MultipleLinesSqlCommandExtractor</property>
		<!-- Session handling <property name="hibernate.current_session_context_class">thread</property> -->

		<!-- Here mapping BO's <mapping class="co.edu.javeriana.Persistencia_Biblioteca.bo.LibroBO" /> -->
		
		<mapping class="co.edu.javeriana.Persistencia_Biblioteca.bo.LibroBO" />
		
	</session-factory>

</hibernate-configuration>