<!DOCTYPE hibernate-configuration PUBLIC
       "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
       "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>

		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/biblioteca</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">web</property>

		<!-- JDBC connection pool -->
		<property name="hibernate.c3p0.min_size">5</property>
		<property name="hibernate.c3p0.max_size">10</property>
		<property name="hibernate.c3p0.timeout">300</property>
		<property name="hibernate.c3p0.max_statements">50</property>
		<property name="hibernate.c3p0.idle_test_period">3000</property>

		<!-- SQL dialect -->
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>

		<!-- Disable the second-level cache -->
		<!-- <property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property> -->

		<!-- Echo all executed SQL to stdout -->
		<property name="show_sql">true</property>

		<!-- Drop and re-create the database schema on startup -->
		<property name="hbm2ddl.auto">none</property>

		<!-- Avoid lazy loading exception -->
		<property name="hibernate.enable_lazy_load_no_trans">true</property>

		<property name="hibernate.hbm2ddl.import_files">import.sql</property>


		<!-- Here mapping BO's <mapping class="co.edu.javeriana.Persistencia_Biblioteca.bo.LibroBO" 
			/> -->

		<mapping class="co.edu.javeriana.Persistencia_Biblioteca.bo.LibroBO" />

	</session-factory>

</hibernate-configuration>